:root {
  --main-color: #8a8a8a;
  --text-color: #f1f1f1;
  --btn-primary-color: #4caf50;
  --btn-primary-color-hover: #45a049;
  --btn-secondary-color: #e22020;
  --btn-secondary-color-hover: #a72929;
  --border-table-color: #f2f2f2;
}
